.success {
    position: fixed;
    background: rgba(0,0,0,0.4);
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    z-index: 1000;

        .box {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            position: relative;
            width: 501px;
            padding: 30px;
            line-height: 40px;
            font-size: 30px;
            border-radius: 10px;
            text-align: center;
            font-weight: 500;
        }
}