.new {
    width: 100%;
    display: flex;
  
    .newContainer {
      flex: 6;
  
      .top,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
  
        h1 {
          color: lightgray;
          font-size: 20px;
        }
  
        .left {
          flex: 1;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          label {
            margin-top: 10px;

            svg {
              vertical-align: middle;
            }
          }
  
          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
  
        .right {
          flex: 2;
          padding: 20px;
  
          form {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-between;
  
            .formInput {
              width: 40%;
  
              select {
                  border: 1px solid #c0baba;
                  border-radius: 5px;
                  height: 40px;
                  outline: none;
              }
              label {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                
                .icon {
                    cursor: pointer;
                }
              }
  
              input {
                width: 100%;
                  outline: none;
                  padding: 5px;
                border: none;
                border-bottom: 1px solid #c0baba;
              }

            }
  
            button {
              width: 120px;
              padding: 5px;
              border: none;
              background-color: teal;
              color: white;
              font-weight: bold;
              font-size: 20px;
              cursor: pointer;
              margin-top: 10px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }