.footer {
    background-color: #111;
}

.footerContainer {
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px;
}

.fooTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fooBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #aea7a7;
    border-top: 0.5px solid #aea7a7;
}

.footerLogo {
    font-size: 70px;
    color: #1859B4;
    font-weight: bolder;
}

.middle p {
    color: #fff;
    padding-left: 15px;
    padding-bottom: 5px;
}

.middle ul li a  {
    color: #aea7a7;
    font-size: 16px;
}

.middle ul li  {
    padding: 10px 15px;
    color: #aea7a7;
    font-size: 16px;
}

.middle ul li:hover, .middle ul li a:hover {
    transition: 0.2s;
    color: #fff;
    cursor: pointer;
}

.footerTitle {
    color: #fff;
}

.socialIcons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.sIcons {
    color: #aea7a7;
    font-size: 35px!important;
    cursor: pointer;
}

.sIcons:hover {
    transition: 0.4s;
    color: #fff;
}

@media (max-width:900px) {
    .fooTop {
        flex-direction: column;
        align-items: baseline;
    }
    .middle p {
        padding-left: 0;
    }
    .middle ul li {
        padding-left: 0;
    }
    .list.middle {
        margin: 20px 0;
    }
}