
.listingcard {
    border: 1px solid #e0e1e2;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}

.listTop {
    padding: 20px;
}

.sofwtareContent {
    display: flex;
    align-items: center;
    gap: 30px;
}

.softImg img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
    object-fit: contain;
}

.softTitle {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.softAbout {
    border-top: 1px solid #d9d4c7;
    padding: 20px;
}

.softAbout p {
    line-height: 22px;
    color: #534a4a;
}

.softAbout a {
    color: #1859B4;
    font-weight: bold;
}

.like {
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    padding: 8px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.unfillIcon, .fillIcon {
    color: red;
    vertical-align: bottom;
}
.softDeatials .stars {
    margin: 10px 0;
}

.poptxt {
    position: absolute;
    right: -28px;
    top: 46%;
    transform: rotate(90deg);
    background: #1976d2;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

@media (max-width:900px) {
    .listFlex {
        flex-direction: column;
    }
    .lCard, .sidebar {
        width: 100%;
    }
    .softImg img {
        width: 70px;
        height: 70px;       
    }
    .softTitle {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .softDeatials .starIcon {        
        margin: 3px 0;
    }
    .like {      
        padding: 6px;      
        top: 110px;
    }
    .sofwtareContent {
        gap: 15px;
    }
    .poptxt {
        left: 28px;
        right: auto;
        transform: inherit;
        top: 115px;
    }
    .softDeatials {
        overflow: hidden;
    }
}